@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #ffffff 16.62%, #003153 85.61%);
}

.cabecalho {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo-cabecalho {
    border-radius: 100%;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom:48px;
    border-top:0.4px solid #ffffff;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.conteudo-principal-escrito{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Montserrat', sans-serif;
    color: #003153;
    font-weight: 400;
    font-size: 23px;
}

.conteudo-principal-escrito-descricao {
    font-family: 'Montserrat', sans-serif;
    color: #003153;
    font-weight: 400;
    font-size: 20px;
}

.conteudo-principal-escrito-botao {
    background-color: #ffffff;
    height: 60px;
    width: 180px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #003153;
    font-weight: 400;
    font-size: 20px;


}
.conteudo-principal-foto{
    border-radius: 100%;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

